{
  {{# vscode_snips}}

  "{{name}}": {
    "prefix": "{{prefix}}",
    "scope": "{{scope}}",
    "body": [
      {{#body}}
      "{{.}}",
      {{/body}}
    ],
    "description": "{{description}}"
  },

  {{/ vscode_snips}}
}
